<div class="jumbotron">
  <h1>Clase {{autentificado}} {{logeado}}</h1>
</div>

<div class="row marketing" ng-hide="logeado">
  <p>username: 
  <input type="text" name="username" ng-model="username"></p>
  <p>password: <input type="password" name="password" ng-model="password"></p>
  <button type="button" ng-click="login()">Login</button>


</div>

<div>
    <button type="button" ng-click="listado()">Alumnos</button>
  <p ng-repeat="al in alumnos">
   {{al.nombre}}</p>
  <p>nombre: 
  <input type="text" name="nombre" ng-model="nombre"></p>
  <p>apellidos: 
  <input type="text" name="apellidos" ng-model="apellidos"></p>
  <p>matricula: 
  <input type="text" name="matricula" ng-model="matricula"></p>
  <p>email: 
  <input type="email" name="email" ng-model="email"></p>
  <p>edad: 
  <input type="text" name="edad" ng-model="edad"></p>
  <button type="button" ng-click="insertarAlumno()">Insertar</button>{{resultadoInsercion}}
</div>
